<div class="ui raised container segment" #boitequestion>
  <form *ngIf="!error" class="ui form" (ngSubmit)="onSubmit()" #questionForm="ngForm">
    <div class="field">
    <label>{{ question?.question }}</label>
      <!--
        The input type is selected according to the type of response expected.
        These input fields are disabled once the form has been sumbitted.
      -->

      <input *ngIf="question?.reponse_type=='t'"
        [ngModel]="question?.answer" (ngModelChange)="question.answer = $event"
        type="text"
        name="text-answer"
        [disabled]="submitted"/>

      <select *ngIf="question?.reponse_type=='l'" class="form-control" id="answer" [disabled]="submitted"
        [ngModel]="question?.answer" (ngModelChange)="question.answer = $event" required name="list_answer">
        <option *ngFor="let opt of question?.options" [value]="opt">{{opt}}</option>
      </select>

      <div *ngIf="question?.reponse_type=='d'" class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker
          [ngModel]="question?.answer"
          (ngModelChange)="question.answer = $event"
          pickerMode="date"
          pickerFirstDayOfWeek="1"
          [pickerUseNativeOnMobile]="true"
          name="date">
      </div>
    </div>
    <button class="ui button" type="submit" [disabled]="!questionForm.form.valid">
      Enregistrer ma réponse
    </button>
  </form>

  <!-- Unknown error -->
  <div *ngIf="error && error_type=='default'" class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      An error occured
    </div>
    <p>Please try again later</p>
  </div>

  <!-- 404 -->
  <div *ngIf="error && error_type=='404'" class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Page not found
    </div>
    <p>The page corresponding to this ressource does not exist</p>
  </div>

    <!-- cannot reach server -->
    <div *ngIf="error && error_type=='cannot_reach_server'" class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        The server cannot be reached
      </div>
      <p>Please check your internet connection or try again later.
        If the problem persists, please use the feedback form to let us know.</p>
    </div>
</div>
